html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form, #spinner, #new {
  margin-top: 25px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  transition: box-shadow 0.2s ease-in-out;
}

#form:hover, #spinner:hover, #new:hover {
  box-shadow: 15px 15px black;
  transition: box-shadow 0.2s ease-in-out;
}

.input-row {
  display: flex;
  margin: 10px;
}

label {
  display: block;
  width: 250px;
  text-align: end;
  padding-right: 15px;
}

input, select {
  width: 555px;
  border: 1px solid black;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  font-size: 1em;
}

.status {
  margin: 0 0 0 30px;
  padding: 0;
}

button {
  margin: 5px;
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
  background-color: white;
  font-size: 1em;
  transition: box-shadow 0.2s ease-in-out;
}

input:hover,
button:hover {
  box-shadow: 5px 5px black;
  transition: box-shadow 0.2s ease-in-out;
}

#deposit:hover {
  background-color: rgb(143, 212, 178);
}

#check:hover {
  background-color: rgb(207, 212, 143);
}

#withdraw:hover {
  background-color: rgb(212, 145, 143);
}
